.header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    background: rgb(255, 255, 255);
    z-index: 1000;
}