.colorCard {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    width: 18rem;
    margin: 0 2rem 0 0;
    .cardHeader {
        padding: .5rem 1rem;
        margin-bottom: 0;
        background-color: rgba(0,0,0,.03);
        border-bottom: 1px solid rgba(0,0,0,.125);
    }    
    .cardBody {
        flex: 1 1 auto;
        padding: 1rem 1rem;
    }
    .cardTitle {
        margin-bottom: .5rem;   
    }
    &.textWhite {
        color: #fff!important;
    }    
}

.bgPrimary {
    background-color: #0d6efd!important;
}
.bgSecondary {
    background-color: #6c757d!important;
}

.bgSuccess {
    background-color: #198754!important;
}
.bgDanger {
    background-color: #dc3545!important;
}
.bg-warning {
    background-color: #ffc107!important;
}
.bg-info {
    background-color: #0dcaf0!important;
}
.bg-light {
    background-color: #f8f9fa!important;
}
.bg-dark {
    background-color: #212529!important;
}