.role {
    border-radius: 10px 0 0 10px;
    background-color: #d61f69;
    display: flex;
    align-items: center;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0 2rem;
}