.btn {
    position: relative;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    -webkit-text-decoration: none;
    text-decoration: none;
    padding: 0.25rem 0.5rem;
    margin: -0.25rem -0.5rem;
    border-radius: 7px;
    color: #0070f3;
    background-color: transparent;
    border: none;
    font-size: inherit;
    line-height: inherit;
    -webkit-transition: background 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;
    transition: background 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;
    outline: none;
    &.primaryBtn {
        background-color: rgba(0,118,255,0.9);
        color: #fff;
        border: 1px solid rgba(0,118,255,0.9);
        padding: 0.25rem 1rem;
        margin: 0;
        font-weight: 500;
        text-transform: capitalize;
    }
    &.secondaryBtn {
        background-color: rgba(0,118,255,0.9);
        color: #fff;
        border: 1px solid rgba(0,118,255,0.9);
        padding: 0.25rem 1rem;
        margin: 0;
        font-weight: 500;
        text-transform: capitalize;
    }
    &.linkBtn {
        border: none;
        border-radius: 0;
        color: #3f4959;
    }
}
.cardLink+.cardLink {
    margin-left: 1rem;
}
.navLink {
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.navLink {
    background: 0 0;
    border: 0;
    border-radius: .25rem;
    &.active {
        color: #fff;
        background-color: #0d6efd;
    }
    &.disabled {
        color: #6c757d;
        pointer-events: none;
        cursor: default;
    }
}