.contactCard {
    background-color: #ffffff;
    border: 1px solid rgba(229,231,235);
    border-radius: 10px;
    .contactCardWrapperInner {
        padding: 2rem 1.5rem 2rem 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        .cardHeadingWrapper {
            display: flex;
            flex-flow: column;
            flex: 1;
        }
        .imgWrapper {
            overflow: hidden;
            width: 140px;
            height: 140px;
            position: relative;
            img {
                width: 100%;
                height: auto;
                border-radius: 50%;
            }
        }
    }
    &.portraitLarge {
        .cardHeadingWrapper {
            align-items: center;
            margin-bottom: 1.4rem;
        }
        .imgWrapper {
            margin-bottom: 2rem;
        }
    }
    &.portraitSmall {
        .contactCardWrapperInner {
            flex-direction: row-reverse;
            .imgWrapper {
                width: 40px;
                height: 40px;
            }
        }
    }
    &.horizontal {
        .contactCardWrapperInner {
            flex-direction: row;
            .cardHeadingWrapper {
                padding: 0 1rem;
            }
            .imgWrapper {
                width: 40px;
                height: 40px;
            }
        }
    }
    &.simple {
        .contactCardWrapperInner {
            flex-direction: row;
            align-items: stretch;
            padding:0;
            .cardHeadingWrapper {
                padding: 1.2rem 1.52em 1.2rem 1.52em;
            }
        }
    }
    &.action {
        .contactCardWrapperInner {
            flex-direction: column;
            align-items: start;
        }
    }
}