.role {
    color: #047a8e;
    border-radius: 2.5rem;
    background-color: rgba(6, 182, 212, 0.29);
    padding: 2px 7px;
    font-size: .9rem;
    text-align: center;
    text-transform: capitalize;
    font-weight: 500;
}