.container {
    width: 100%;
    margin: 1rem auto;
    padding: 0 1rem;
    max-width: 1366px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 2em;
}