.title {
    font-size: 100px;
    line-height: 1;
    font-weight: 800;
    -webkit-letter-spacing: -0.06em;
    -moz-letter-spacing: -0.06em;
    -ms-letter-spacing: -0.06em;
    letter-spacing: -0.06em;
    margin: 0 0 60px;
    padding-top: 100px;
    text-align: center;
}