.blopWrapper {
    padding: 2.5rem 0px;
    margin-bottom: -1px;
    border-top: 1px solid rgb(238, 238, 238);
    border-bottom: 1px solid rgb(238, 238, 238);
    transition: all 0.2s ease 0s;
    &:hover {
        box-shadow: rgb(0 0 0 / 4%) 0px 5px 40px;
    }
}
.blogHeading {
    font-size: 1.4em;
}
.blogDate {
    color: black;
    margin-top: 0.4rem;
    margin-bottom: 1rem;
}

.blogDec {
    line-height: 1.8;
    margin-bottom: 1.5rem;
}