.modalOverlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.04);
}
.modal {
    position: fixed;
    width: 500px;
    left: 50%;
    margin-left: -250px;
    z-index: 99;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    .modalUpparWrapper {
        padding: 24px 24px 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .modalIcon {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            flex: none;
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
                width: 20px;
                height: 20px;
            }
            
        }
        .modalContent {
            margin-left: 20px;
            display: flex;
            flex-direction: column;
            h2 {
                font-size: 1.125rem;
            }
            p {
                font-size: 0.875rem;
                line-height: 1.25rem;
            }
        }
    }
    .modalBottomWrapper {
        display: flex;
        flex-direction: row-reverse;
        padding: 0.75rem 1.5rem;
        a {
            margin-left: 0.75rem;
            text-align: center;
        }
    }
    .btn {
        padding: 0.5rem 1rem;
        border-radius: 0.375rem;
        border-width: 1px;
        border-style: solid;
    }
    .active {
        background-color: #5850eb;
        color: #ffffff;
        border-color: #5850eb;
    }
    .deactive {
        background-color: #e02423;
        color: #ffffff;
        border-color: #e02423;
    }
    .cancel {
        background-color: #ffffff;
        color: #4f5866;
        border-color: rgba(209, 213, 219, 1);
    }
}

.modal {
    &.centerwithSingleAction,&.centerWithDoubleAction {
        .modalUpparWrapper {
            .modalIcon {
                background-color: rgba(222, 247, 236, 1) ;
            }
            .modalContent {
                align-items: center;
                margin: 0;
                text-align: center;
                margin-top: 1.4rem;            
            }
        }
    }
    &.centerwithSingleAction {
        .modalBottomWrapper {
            [class^=modalButton] {
                margin-left: 0;
                width: 100%;
                text-align: center;
            }
        }
    }
    &.centerWithDoubleAction {
        .modalBottomWrapper {
            padding-top: 0;
            a {
                flex: 1;
                &:last-of-type {
                    margin-left: 0;
                }
            }
        }
    }
    &.simpleAlert,&.simpleAlertLeftAlign {
        .modalUpparWrapper {
            flex-direction: row;
            align-items: flex-start;
            .modalIcon {
                background-color: rgba(253, 232, 231, 1) ;
            }
        }
        .modalBottomWrapper {
            padding-top: 0;
            a {
                &:last-of-type {
                    margin-left: 0;
                }
            }
        }
    }
   &.simpleAlertLeftAlign {
       .modalBottomWrapper {
           flex-direction: row;
           padding-left: 4.8rem;
           a {
               flex: none;
               margin-left: 0;
               margin-right: 0.75rem;
           }
       }
   } 
}