.cardsubTitle,.cardTitle  {
    text-transform: capitalize;
}
.cardTitle {
    font-size: 1rem;
    font-weight: 500;
    line-height: 14px;
    [class^="role"] {
        margin-left: 10px;
    }
}
.cardsubTitle {
    font-size: 1rem;
    color: #b9b9b9;
    font-weight: normal;
    margin-bottom: 0;
}

.teamTitle {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 14px;
    text-transform: capitalize;
}
.teamDesignation {
    font-size: 1.2rem;
    color: #5d58d6;
    font-weight: 500;
    margin-bottom: 0;
    text-transform: capitalize;
}