@mixin styling() {
    background-color: white;
    border-color: #ccc;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
  }
.dropDownWrapper {
    display: flex;
    min-height: 38px;
    flex-wrap: wrap;  
    .dropDownHeader {
        @include styling();
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        width: 100%;
        padding: 1rem;
        p {
            margin-bottom: 0;
        }
    }
    .DropDownList {
        box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
        padding: 0;
        margin: 0;
        width: 100%;
        margin-top: 20px;
        li {
            list-style-type: none;
            padding: .5rem;
            cursor: pointer;
            &:hover {
                background-color: #ccc;
                color: #ffffff;
            }
        }
    }
}