.contactList {
    border-top: 1px solid #e5e7eb;
    display: flex;
    align-items: center;
    > a {
        border-right: 1px solid #e5e7eb;
        font-weight: 600;
        display: flex;
        flex: 1;
        justify-content: center;
        color: #b9b9b9;
        padding: 1.2rem 0.5rem;
        &:last-of-type {
            border:0;
        }
    }
    svg {
        fill: #b9b9b9;
        margin-right: 10px;
    }
}